/api/Things4Java/jHomeWebAdmin/target/
/api/Things4Java/Things.Prototipo/target/
/apps/jHomeAutomation/target/
/api/Things4Java/Things.Gateway.Embedded/target/
/api/Things.Gateway.REST/nbproject/private/
/api/Things4Java/Things.Gateway.REST/nbproject/private/
/api/Things4Java/Things.Gateway.REST/build/
/api/Things4Java/Things.Gateway.REST/dist/
/apps/DNTV/target/
/api/Things4Java/Things.Robot/target/